.App {
  text-align: center;
}
.hight {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 15px;
 
 
  
}
.statusTitle {
  height: 30px;
  width: 10px;
}
.bold{
  font-weight: bold;
}

.width {
  width: 25%;
}
.in-progress {
  height: 30px;
  width: 10px;
  background-color: blue;
}
.not-started {
  height: 30px;
  width: 10px;
  background-color: red;
}

.done {
  height: 30px;
  width: 10px;
  background-color: green;
}
.footer {
  margin: 10px;
}