.App {
  text-align: center;
}
.hight {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  padding: 15px;
  
}

.width {
  width: 25%;
}
.in-progress {
  height: 30px;
  width: 10px;
  background-color: blue;
}
.not-started {
  height: 30px;
  width: 10px;
  background-color: red;
}

.done {
  height: 30px;
  width: 10px;
  background-color: green;
}
